In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [19]:
df = pd.read_csv('train.csv')
df.shape

(1460, 81)

In [4]:
obj_df = df.select_dtypes(include=['object']).copy()

In [6]:
num_df = df.select_dtypes(exclude=['object']).copy()

In [27]:
num_df.isnull().sum()

Id               0
MSSubClass       0
LotFrontage      0
LotArea          0
OverallQual      0
OverallCond      0
YearBuilt        0
YearRemodAdd     0
MasVnrArea       0
BsmtFinSF1       0
BsmtFinSF2       0
BsmtUnfSF        0
TotalBsmtSF      0
1stFlrSF         0
2ndFlrSF         0
LowQualFinSF     0
GrLivArea        0
BsmtFullBath     0
BsmtHalfBath     0
FullBath         0
HalfBath         0
BedroomAbvGr     0
KitchenAbvGr     0
TotRmsAbvGrd     0
Fireplaces       0
GarageYrBlt      0
GarageCars       0
GarageArea       0
WoodDeckSF       0
OpenPorchSF      0
EnclosedPorch    0
3SsnPorch        0
ScreenPorch      0
PoolArea         0
MiscVal          0
MoSold           0
YrSold           0
SalePrice        0
dtype: int64

In [12]:
num_df.interpolate(inplace = True)

In [15]:
categories = list(obj_df)
print(len(categories))

43

In [26]:
obj_df.isnull().sum()

MSZoning         0
Street           0
LotShape         0
LandContour      0
Utilities        0
LotConfig        0
LandSlope        0
Neighborhood     0
Condition1       0
Condition2       0
BldgType         0
HouseStyle       0
RoofStyle        0
RoofMatl         0
Exterior1st      0
Exterior2nd      0
MasVnrType       0
ExterQual        0
ExterCond        0
Foundation       0
BsmtQual         0
BsmtCond         0
BsmtExposure     0
BsmtFinType1     0
BsmtFinType2     0
Heating          0
HeatingQC        0
CentralAir       0
Electrical       0
KitchenQual      0
Functional       0
FireplaceQu      0
GarageType       0
GarageFinish     0
GarageQual       0
GarageCond       0
PavedDrive       0
SaleType         0
SaleCondition    0
dtype: int64

In [20]:
obj_df.drop(['Alley','PoolQC','Fence','MiscFeature'], axis = 1, inplace = True)

In [24]:
obj_df.fillna(method = 'bfill', inplace = True)

In [34]:
def to_cat(categories):
    lb_make = LabelEncoder()
    for category in categories:
        obj_df[category] = lb_make.fit_transform(obj_df[category])

In [35]:
categories = list(obj_df)
print(len(categories))

39

In [36]:
to_cat(categories)

In [43]:
num_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,42,0,0,0,0,0,9,2008,223500
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,35,272,0,0,0,0,2,2006,140000
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,192,84,0,0,0,0,0,12,2008,250000

In [40]:
Id = num_df['Id']

In [41]:
obj_df['Id'] = Id

In [48]:
test = pd.merge(num_df, obj_df, on='Id')

In [50]:
test.shape

(1460, 77)

In [55]:
test.to_csv('test_processed.csv')